body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

h1 {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  padding: 15px;
}

.navbar a {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: brown;
}

h2 {
  text-align: center;
}

.txt {
  margin-left: 505px;
  margin-right: 505px;
  text-align: justify;
}